
Action_Recognition/myapp/Realtime-Action-Recognition-master/data/source_images3/*
Action_Recognition/myapp/Realtime-Action-Recognition-master/data_test/*
Action_Recognition/myapp/Realtime-Action-Recognition-master/data_proc/*
Action_Recognition/myapp/Realtime-Action-Recognition-master/filelist/

Action_Recognition/myapp/Realtime-Action-Recognition-master/src/.ipynb_checkpoints/*
Action_Recognition/myapp/Realtime-Action-Recognition-master/src/githubs/*
Action_Recognition/myapp/Realtime-Action-Recognition-master/src/skeleton_data/*






**/core
**/.vscode/*
**/__pycache__/*
**/.ipynb_checkpoints/*