
myapp/Realtime-Action-Recognition-master/data/*
myapp/Realtime-Action-Recognition-master/data_test/*
myapp/Realtime-Action-Recognition-master/data_proc/*
myapp/Realtime-Action-Recognition-master/filelist/

myapp/Realtime-Action-Recognition-master/src/.ipynb_checkpoints/*
myapp/Realtime-Action-Recognition-master/src/githubs/*
myapp/Realtime-Action-Recognition-master/src/skeleton_data/*
src/test_*





**/core
**/.vscode/*
**/__pycache__/*
**/.ipynb_checkpoints/*